.contact {
	padding: 7rem 0;

	.heading-secondary {
		position: relative;
		@extend .heading-after;
		margin-bottom: 7rem;
	}

	.contact-form {
		width: 40rem;
		margin: auto;

		@media screen and (max-width: 450px) {
			width: 30rem;
		}

		.input-group {
			margin-bottom: 1.5rem;
			color: $text-grey;

			label {
				display: block;
			}

			input:not(.newsletter-checkbox),
			select,
			textarea {
				width: 100%;
				font-size: 1.9rem;
				padding: 0 1rem;
				outline: none;
				border: 1px solid $text-grey;
				border-radius: 3px;
				color: $text-grey;

				&:focus {
					border: 1px solid $primary-blue;
				}
			}

			input:not(.newsletter-checkbox),
			select {
				height: 3.5rem;
			}

			textarea {
				padding: 1rem;
				font-size: 1.9rem;
				font-family: inherit;
				color: inherit;
				height: 30rem;

				&:focus {
					border: 1px solid $primary-blue;
				}
			}
		}

		.submit-button-container {
			text-align: center;
		}
	}
}
